/*
themes name:themes_rot
author: root
author url : http://localhost/sreyrot/CMS/wordpress/wordpress
version: 1.0

*/


header{
    background-color: yellow;
    
    padding: 100px;
    
}
body{
    padding: 0;
    margin: 0;
}


